.done{
    width: 1360px;
    height: 385px;
    background-color: black;
    position: relative;
}
header{
    width: 1280px;
    height: 60px;
    /* border: 2px solid white; */
    
   position: absolute;
   top: 20px;
   left: 30px;
   display: flex;
   position: relative;
}
.header__div{
    width: 400px;
    height: 50px;
    /* border: 2px solid red; */
    position: absolute;
    left: 230px;  top: 5px;  
    display: flex;
    justify-content: space-evenly;
}
.hj{
    width: 300px;
    height: 50px;
    background-color: white;
    position: absolute;
    right: 20px;
}
.tr{
    position: absolute;
    right: 30px;
    top: 20px;
}
.pu{
    color: rgb(160, 146, 146);
}
.fd{
    position: absolute;
    top: 83px;
}
.as{
    color: white;
    z-index: 1;
    position: absolute;
    top: 100px; left: 50px;
}
.er{
    width: 100px; height: 55px; background-color: rgb(21, 235, 5);
    position: absolute;
    top: 300px; left: 50px;
}
.first{
    width: 1280px;
    height: 400px;
    /* border: 2px solid black; */
    margin-left: 40px;
    position: relative;
}
.first__h1{
position: absolute;
left: 380px; font-size: 41px; 
}
.first__div{
    width: 1280px;
    height: 320px;
    /* border: 2px solid red; */
    position: absolute; top: 80px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 290px;
    height: 300px;
    background-color: aliceblue;
    box-shadow: 6px 6px 16px rgb(107, 106, 106);
}
.second{
     width: 1280px;
    height: 400px;
    
    margin-left: 40px;
    margin-top: 10px;
}
.fa{
    text-align: center; font-size: 35px;
}
.second__div{
    width: 1280px;
    height: 300px;  
    display: flex;
    justify-content: space-between;
}
.third{
     width: 1280px;
    height: 400px;
    
    margin-left: 40px;
    margin-top: 20px;
}
.viva{
width: 1280px;
height: 351px;
/* border: 2px solid red; */
margin-top: 25px;
margin-left: 40px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.arrow{
    width:430px;
    height:360px;
    /* border: 2px solid black; */
}
.box2{
    width: 700px;
    height: 300px;

}
.ds{
    color: green;
    font-size: 40px;
    
}
.asa{
    width: 200px;
    height: 60px;
    background-color: rgb(3, 193, 3);
    font-size: 20px;
    margin-top: 100px;

}
footer{
    width: 1280px;
    height: 200px;
     margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}











